/* Set Colors */
body {
    background-color: #EEE2DE;
}

.head-container {
    background-color: #EA906C;
}

.title {
    color: #2B2A4C;
}

.subtitle {
    color: #2B2A4C;
}

h5 {
    color:#2B2A4C
}

.quote {
    color: #B31312
}
#weapon1-img {
    width: 200px;
    height: 200px
}

.skill-img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
    border: 10px solid white;
}